body {
/*    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;*/
    font-family: lato, sans-serif;
    background: #F5F7FA;
    color: #656D78;
    position: relative;
    padding-top: 40px;
}

.last-run-banner {
    position: fixed;
    top: 0;
    height: 40px;
    width: 100%;
    line-height: 40px;
    background-color: #f1c40f;
    color: #fff;
    z-index: 1000;
}

.last-run-banner div {
    text-align: center;
}

#head {
    text-align: center;
}

#head > h5 {
    text-transform: uppercase;
    letter-spacing: 3vw;
}

#activeUser {
    height: 30vh;
    text-align: center;
    padding-top: 5%;
}

#activeUser > img {
    height: 70%;
    -webkit-clip-path: circle(50% at 50% 50%);
}

#activeUser > p {
    color: #CCD1D9;
    line-height: 0;
}

#leaderboard {
    height: 45vh;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    -webkit-mask-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 1), rgba(0, 0, 0, .95), rgba(0, 0, 0, 0));
}

.tableItem {
    height: 9vh;
    overflow: hidden;
}

.tableItem > img {
    display: inline;
    height: 98%;
}

.tableItem > div {
    width: 70%;
    display: inline-block;
    padding-left: 5%;
}

.tableItem > div > h5 {
    display: inline;
    margin-right: 50%;
}

.tableItem > div > p {
    display: inline;
    color: #CCD1D9;
}

#carrousell {
    max-height: 15vh;
    overflow-y: hidden;
    overflow-x: scroll;
    padding-top: 2%;
    padding-left: 5%;
    white-space: nowrap;
}

#carrousell > .next {
    height: 10vh !important;
    width: 20%;
    display: inline-block;
    margin-right: 2%;
}

#carrousell > .next > img {
    height: 100%;
}
